* {
    margin: 10;
    padding: 10;
    box-sizing: border-box;
}

/* Basic styling for the header */
header {
    background-color: #222;
    color: #fff;
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    list-style: none;
    display: flex;
}

nav li {
    margin-right: 50px;
}

nav a {
    text-decoration: none;
    color: #fff;
}

.text {
    color: #f4f7f6a4;
    font-size: 30px;
    font-weight: bold;
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: transparent;
    position: relative;
}

.logo {
    color: rgb(131, 30, 225);
    font-size: 30px;
    font-weight: bold;
}

.stylists {
    background-image: url('image2.jpg');
    background-size: cover;
    background-position: center;
    text-align: center;
    padding: 800px 0;
    color: #0b0b0b;
}

/* Styling for the stylists section */
.stylists {
    text-align: center;
    padding: 95px;
}

.stylist {
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
     background-color: #6cb6b7;
    overflow: auto;
}

.stylist img {
    float: left; /* Float the image to the left */
    margin-right: 5px; /* Add some space to the right of the image */
    border-radius: 10%; /* To make the image round, adjust as needed */
    margin-bottom: 5px;
    width: 100px; /* Set a fixed width */
    height: 100px; /* Set a fixed height */
    border-radius: 10%; 
}

.stylist h2 {
    color: #0b0b0b;
    font-size: 24px;
    margin-bottom: 10px;
}

.stylist p {
    color: #0b0b0b;
    margin-bottom: 20px;
}

/* Basic styling for the contact section */
.contact {
    text-align: center;
    padding: 20px;
}

contact h1 {
    color: #333;
    font-size: 36px;
    margin-bottom: 10px;
}

contact p {
    color: #666;
    margin-bottom: 20px;
}

/* Basic styling for the footer */
footer {
    background-color: #222;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}
